@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body {
    background-color: black;
    color: #33FF33;
    font-family: "SF Mono", "Menlo", "Monaco", "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.terminal pre {
    font-size: 20px;
    letter-spacing: 5px;
    white-space: pre;
    text-shadow: 0 0 10px #33FF33;
}

@keyframes matrix {
    0% { background-color: black; color: limegreen; }
    50% { background-color: darkgreen; color: black; }
    100% { background-color: black; color: limegreen; }
}

.matrix {
    animation: matrix 1s infinite alternate;
}